.container-box {
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

.box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.5em;
}

.box-1 {
    background-color: pink;
    border: 5px solid red;
}

.box-2 {
    background-color: yellow;
    outline: 5px solid red;
}

.box-3 {
    background-color: cyan;
    outline: 5px solid red;
    outline-offset: 25px;
}

.box-4 {
    background-color: green;
    outline: 5px solid red;
    outline-offset: -25px;
}

.box-5 {
    background-color: orange;
    outline: 5px solid red;
    transition: all ease-in-out 1000ms;
}

.box-5:hover {
    outline-offset: -25px;
}